<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="bipedal_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="left_motor_left_shoulder--left_motor">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_motor_left_shoulder--left_motor']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_shoulder_left_top_leg-left_shoulder">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_shoulder_left_top_leg-left_shoulder']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_top_leg_left_bottom_leg-left_top_leg">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_top_leg_left_bottom_leg-left_top_leg']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_bottom_leg_left_foot-left_bottom_leg">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_bottom_leg_left_foot-left_bottom_leg']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_motor_right_shoulder-right_motor">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_motor_right_shoulder-right_motor']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_shoulder_right_top_leg-right_shoulder">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_shoulder_right_top_leg-right_shoulder']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_top_leg_right_bottom_leg--right_top_leg">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_top_leg_right_bottom_leg--right_top_leg']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_bottom_leg_right_foot-right_bottom_leg">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_bottom_leg_right_foot-right_bottom_leg']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
